.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main";
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 3rem 0;
}

.grid-init {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem 2.4rem 4rem;
}

.header {
  grid-area: header;
  box-shadow: 0px .4rem 1rem rgba(255, 255, 255, 0.07);
  padding: 3rem 7rem 2rem 7rem;
  margin: -3rem -7rem 0 -7rem;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 117%;
}

.header__nav {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header__nav a {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 116%;
}

.header__nav a:not(:last-child) {
  margin-right: 2.5rem;
}

.header__search {
  height: 4.1rem;
  width: 33rem;
}

.header__search input {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.08) url('../image/search.svg') no-repeat;
  background-size: 2rem;
  background-position: top 50% right 1.5rem;
  padding-left: 1rem;
  padding-right: 4rem;
  font-size: 2rem;
  color: #FFFFFF;
}

.header__search input::placeholder {
  font-weight: 400;
  font-size: 2rem;
  color: #FFFFFF;
}

.header__date {
  text-align: center;
}

.header__date-hours {
  font-size: 2rem;
  line-height: 115%;
}

.header__date-day {
  font-size: 1.2rem;
  line-height: 116%;
}

.header__avatar {
  width: 6rem;
  height: 6rem;
  /* border: 3px solid #FFFFFF; */
  border-radius: 50%;
}

/*/////////main////////////*/

.main-display {
  padding-top: 5rem;
}

.main-display__trailer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 20.2rem;
  border-radius: 1.6rem;
  background: url('../image/unsplash.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.9rem;
}

.main-display__trailer::before,
.trending__item::before,
.popular__item::before,
.asside__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 0;
  border-radius: 1.6rem;
}

.main-display__views {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 118%;
  z-index: 1;
}

.main-display__name {
  z-index: 1;
}

.main-display__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 116%;
}

.main-display__date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}

.button-play__wrap {
  position: absolute;
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(1.6rem);
  /* filter: blur(1.6rem); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-play {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid #fff;
  border-bottom: 1.5rem solid transparent;
  border-radius: 0.2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.title-left,
.title-right {
  display: flex;
  align-items: center;
}

.title-main {
  font-size: 2rem;
  line-height: 115%;
}

.title-count {
  font-size: 2rem;
  line-height: 115%;
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.2);
}

.title-right span {
  font-size: 2rem;
  line-height: 115%;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.title-right img {
  width: 2rem;
  height: 1.5rem;
  margin-left: 0.4rem;
}

.trending,
.popular {
  display: flex;
  justify-content: space-between;
}

.trending__item {
  position: relative;
  display: flex;
  align-items: end;
  width: 48%;
  min-height: 25rem;
  background: url('../image/trayding.jpg') no-repeat;
  background-size: cover;
  border-radius: 1.6rem;
}

.trending__plash {
  position: absolute;
  top: 1.9rem;
  left: 1.9rem;
  font-size: 1.4rem;
  line-height: 116%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 0.4rem 1.3rem 0.5rem 1.5rem;
}

.small {
  width: 3rem;
  height: 3rem;
  left: 8%;

}

.small .button-play {
  border-top: 0.5rem solid transparent;
  border-left: 1rem solid #fff;
  border-bottom: 0.5rem solid transparent;
}

/* .trending__plash img{
width: 100%;
height: 1.6rem;
} */

.trending__footer,
.popular__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.9rem;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(16px);
  border-radius: 16px;
}

.trending__title {
  margin-left: 4.5rem;
}

.trending__header {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;

}

.trending__data {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

.trending__time {
  font-size: 1.4rem;
  line-height: 114%;
  color: #000000;
  padding: .4rem 1.3rem .5rem 1.2rem;
  background-color: #FFFFFF;
  border-radius: 1.6rem;
}

.popular__item {
  position: relative;
  display: flex;
  align-items: end;
  width: 30%;
  min-height: 19rem;
  background: url('../image/popular.jpg') no-repeat;
  background-size: cover;
  border-radius: 1.6rem;
}

.popular__footer {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1.9rem 0.7rem 1.9rem;
}

.small-plus {
  width: 1.8rem;
  height: 1.8rem;
  left: 10%;
}

.small-plus .button-play {
  border-top: 0.4rem solid transparent;
  border-left: 0.7rem solid #fff;
  border-bottom: 0.4rem solid transparent;
}

.popular__title {
  margin-left: 3rem;
}

.popular__header {
  font-size: 1rem;
  line-height: 120%;
}

.popular__data {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 113%;
}

.popular__raiting {
  display: flex;
  align-items: center;
}

.popular__raiting span {
  margin-left: 0.4rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

/*///////////asside////////*/
.aside {
  padding-right: 5.9rem;
  position: relative;
}

.aside::after {
  position: absolute;
  content: url('../image/triangle.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.6rem;
  background: #fff;
  border-radius: 2rem;
  top: 10rem;
  right: 4.8rem;
  cursor: pointer;
}

.asside__wrap {
  background: rgba(255, 255, 255, 0.02);
  margin-left: -2.4rem;
}

.asside__top {
  padding-top: 5rem;
  padding-right: 2.3rem;
  padding-left: 2.4rem;
  padding-bottom: 4rem;
  background: #17161B;
  border-right: .1rem solid #1C1B1F;
}

.asside__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asside__header {
  font-size: 2rem;
  line-height: 115%;
}

.asside__sort {
  display: flex;
  align-items: center;
}

.asside__sort-text {
  font-size: 1.4rem;
  line-height: 114%;
  color: rgba(255, 255, 255, 0.4);
}

.asside__sort-select {
  display: flex;
  align-items: center;
}

.asside__sort-select span {
  font-size: 1.4rem;
  line-height: 114%;
  margin-left: 1.5rem;
  margin-right: .4rem;
}

.asside__sort-img {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
}

.asside__sort-img img:first-child {
  margin-bottom: 0.2rem;
}

.asside__sort-img img {
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}

.asside__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 22.6rem;
  border-radius: 1.6rem;
  background: url('../image/asside.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.9rem;
  margin-top: 3rem;
}

/* .asside__item:nth-child(3) {
  margin-bottom: 4rem;
} */

.asside__views {
  position: relative;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 118%;
  z-index: 5;
}

.asside__item-name {
  position: relative;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 116%;
  margin-bottom: .5rem;
  z-index: 5;
}

.asside__item-data {
  position: relative;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
  z-index: 5;
}

.asside__bottom {
  /* padding: 2.5rem 2rem; */
  padding: 2.5rem 0 2rem 2.4rem;
}

.asside__footer {
  position: relative;
  z-index: 10;
}

.asside__footer-bottom {
  position: relative;
}

.asside__footer-bottom::before {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 6.5rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.asside__favorit-text {
  font-size: 2rem;
  line-height: 115%;
  margin-bottom: 2rem;
}

.asside__genres-items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 2rem 4rem;
}

.aside__genre {
  padding: .5rem 1rem .6rem 1rem;
  border-radius: 30px;
  font-size: 12px;
  line-height: 14px;
}

.perple {
  background: #8066F6;
}

.orange {
  background: #E1784F;
}

.blue {
  background: #63CFE1;
}

.gray {
  background: #2B2A2F;
}

.asside__add-round {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  padding: 0.5rem;
  background: #2B2A2F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.asside__add {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 6rem;
  font-size: 1.4rem;
  line-height: 114%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(10, 10, 10, 0.9);
  padding: 3rem;
  z-index: 100;

}

.modal__inner {
  width: 100rem;
  height: 60rem;
}

.active {
  display: flex;
}